body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('bokeh1.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.smallPinImage {
    max-height:175px;
    max-width:100%;
}

.mediumPinImage {
    max-height:100%;
    max-width:100%;
}

.smallPinDiv {
    height:240px;
    background-color:white;
    padding:5px;
    border: 2px solid #222;
    border-radius: 10px;
}

.smallPinDiv h4 {
    color:#2c3e50;
}

.smallPinDiv p {
    color:#2c3e50;    
}

.expandedPinImage {
    width: 600px;
    /*min-height:400px;*/
    padding: 10px;
    border: 2px solid #2c3e50;
    position: relative;
    top: 25px;

}

.crudForms {
    position:relative;
    top: 25px;
}

.boardListImage {
    height:40px;
    width:40px;
    margin-right:10px;
    margin-bottom:4px;
    border-radius:4px;
}

.modalLeftSide {
    background-color:rgba(149, 165, 166, 0.15);
}

.modalList {
    list-style:none;
}

.createBoard {
    border:2px solid firebrick;
    border-radius:4px;

}

.modalExit {
    float:right;
}

.modalBoardList:hover {
    background:rgba(149, 165, 166, 0.15);
}

.pinItButtons {
    float:right;
}

.noDecoHover:hover {
    text-decoration:none;
}

/*body {
    background-image: url('bokeh1.jpg');
}*/

h1, .localLink, h4 {
    color:#222222;
}

.white {
    color:#E1E1E1;
}

.loginForm {
    top:12px;
    position:relative;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}

.pins {
    height:360px;
}

.boards {
    height:450px;
}

.tinyPinDiv {
    height:72px;
    width:72px;
    margin:1px;
    display:inline;
    border-radius:4px;
}

.mainBoardImages {
    max-height:225px;
}

.createPinModalPanel {
    width:200px;
    height:400px;
    margin-top:30px;
}

.modalPinImage {
    max-width:100%;
    max-height:250px;
}

.createBoardModalPanel {
    width:200px;
    height:250px;
    margin-top:20px;
}

.modalBoardImage {
    max-width:100%;
    max-height:125px;
}