<h1>All Pins</h1>
<p>
    <span style="float:right; position:relative; top:-50px;">
        <label><i class="fa fa-search"></i> Search:</label>
        <input class="form-control" type="text" ng-model="searchText" />
    </span>

    <button ng-click="main.showCreateModal()"><i class="fa fa-plus"></i> Create Pin</button>

    <button ng-click="main.profile()"><i class="fa fa-user"></i> Profile</button>

    
</p>
<hr />



<div class="section">
    <div class="row">
        <div class="col-md-3" ng-repeat="pin in main.pins | filter:searchText">
            <div class="panel pins panel-default">
                
                <div class="panel-body">
                    <h4>{{pin.title}}</h4>
                    <img class="smallPinImage img-responsive" ng-src="{{pin.imageUrl}}" />
                    <hr />
                    <p>{{pin.shortDescription}}</p>
                    <button class="btn-danger" ng-click="main.showPinItModal(pin.id)"><i class="fa fa-thumb-tack"></i> Pin It</button>
                    <button ng-click="main.details(pin.id)"><i class="fa fa-search-plus"></i> Details</button>
                </div>
            </div>
        </div>
    </div>
</div>


