<html xmlns="http://www.w3.org/1999/xhtml" ng-app="QuinterestApp">
<head>
    <title></title>
    <base href="/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
        input.ng-dirty.ng-invalid {
            background-color: wheat;
        }
        .error {
            font-weight: bold;
            color: firebrick;
        }
    </style>

</head>
<body>

    <ng-view></ng-view>




    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/ng-infinite-scroll.min.js"></script>
    <script src="~/QuinterestApp/app.js"></script>
    <script src="~/QuinterestApp/controllers.js"></script>
    <script src="~/QuinterestApp/services.js"></script>

</body>
</html>