<div class="modal-body">
    <div class="row">
        <div class="col-sm-7 crudForms">
            <form ng-cloak name="createBoard" ng-submit="modal.save()" novalidate>

                <label>Board Name</label>
                <input class="form-control" name="boardName" ng-model="modal.board.boardName" required />
                <span ng-show="createBoard.boardName.$dirty&&createBoard.boardName.$error.required" class="error">
                    *required
                </span>
                <br />

                <label>Image Url</label>
                <input class="form-control" name="image" ng-model="modal.board.imageUrl" required />
                <span ng-show="createBoard.image.$dirty&&createBoard.image.$error.required" class="error">
                    *required
                </span>
                <br />

                <label>Description</label>
                <input class="form-control" ng-model="modal.board.description" />
                <br />

                <input type="submit" value="Save" ng-disabled="createBoard.$invalid" />

            </form>
        </div>

        <div class="col-sm-5">
            <div class="panel createBoardModalPanel panel-default">
                <div class="panel-heading">
                    {{modal.board.boardName}}
                </div>
                <div class="panel-body">
                    <img class="modalBoardImage img-responsive" ng-src="{{modal.board.imageUrl}}" />
                    <hr />
                    <p>{{modal.board.description}}</p>
                </div>
            </div>
        </div>



        <div class="col-sm-1">
        </div>
    </div>
</div>