     <div class="modal-body">
    <div class="row">
        <div class="col-sm-7 crudForms">
            <form ng-cloak name="createPin" ng-submit="modal.save()" novalidate>

                <label>Title</label>
                <input class="form-control" name="title" ng-model="modal.pin.title" required />
                <span ng-show="createPin.title.$dirty&&createPin.title.$error.required" class="error">
                    *required
                </span>
                <br />

                <label>Image Url</label>
                <input class="form-control" name="image" ng-model="modal.pin.imageUrl" required />
                <span ng-show="createPin.image.$dirty&&createPin.image.$error.required" class="error">
                    *required
                </span>
                <br />

                <label>Website</label>
                <input class="form-control" ng-model="modal.pin.website" />
                <br />

                <label>Board</label>
                <br />
                <select class="form-control" ng-model="modal.pin.boardId">
                    <option ng-repeat="board in modal.boards" value="{{board.id}}">{{board.boardName}}</option>
                </select>
                <br />

                <label>Short Description</label>
                <input class="form-control" ng-model="modal.pin.shortDescription" />
                <br />

                <label>Long Description</label>
                <input class="form-control" ng-model="modal.pin.longDescription" />
                <br />

                <input type="submit" value="Save" ng-disabled="createPin.$invalid" />

            </form>
        </div>

        <div class="col-sm-5 ">

            <div class="panel createPinModalPanel panel-default">
                <div class="panel-heading">
                    {{modal.pin.title}}
                </div>
                <div class="panel-body">
                    <img class="modalPinImage img-responsive" ng-src="{{modal.pin.imageUrl}}" />
                    <hr />
                    <p>{{modal.pin.shortDescription}}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-1">
        </div>
    </div>
</div>