<div class="modal-body">
    <div class="row">
        <div class="col-sm-8 crudForms">
            <form ng-cloak name="createPin" ng-submit="modal.save()" novalidate>

                <label>Title</label>
                <input class="form-control" name="title" ng-model="modal.pin.title" required />
                <span ng-show="createPin.title.$dirty&&createPin.title.$error.required" class="error">
                    *required
                </span>
                <br />

                <label>Image Url</label>
                <input class="form-control" name="image" ng-model="modal.pin.imageUrl" required />
                <span ng-show="createPin.image.$dirty&&createPin.image.$error.required" class="error">
                    *required
                </span>
                <br />

                <label>Website</label>
                <input class="form-control" ng-model="modal.pin.website" />
                <br />

                <label>Board</label>
                <br />
                <select class="form-control" ng-model="modal.pin.boardId">
                    <option ng-repeat="board in modal.boards" value="{{board.id}}">{{board.boardName}}</option>
                </select>
                <br />

                <label>Short Description</label>
                <input class="form-control" ng-model="modal.pin.shortDescription" />
                <br />

                <label>Long Description</label>
                <input class="form-control" ng-model="modal.pin.longDescription" />
                <br />

                <input type="submit" value="Save" ng-disabled="createPin.$invalid" />

            </form>
        </div>

        <div class="col-sm-3 smallPinDiv">
            <h4>{{modal.pin.title}}</h4>
            <img class="smallPinImage" ng-src="{{modal.pin.imageUrl}}" />
            <br />
            {{modal.pin.shortDescription}}
        </div>

        <div class="col-sm-1">
        </div>
    </div>
</div>